.table-container {
    margin: 2px;
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:smaller;
  }
  
  .custom-table th,
  .custom-table td {
    /* border: 1px solid #ddd; */
    padding: 2px;
  }
  
  .custom-table th {
    background-color: rgb(93, 192, 166); /* Light blue background */
    font-weight: bold;
    text-align: center;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .custom-table td {
    background-color: #ffffff; /* White background for rows */
  }
  
  .custom-table td:nth-child(1),
  .custom-table th:nth-child(1) {
    /* background-color: #d9edf7; Column-specific background color */
  }

  .custom-table tbody {
    background-color: #f9f9f9; /* Background color for table body */
        /* border: 1px solid #ddd; */
  }
  .custom-table td:last-child,
  .custom-table th:last-child {
    font-weight: bold;
  }
  
  .left-align {
    text-align: left !important;
  }